[submodule "source/TimerLib"]
	path = source/TimerLib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/timer-lib
[submodule "source/OasisLib"]
	path = source/OasisLib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/oasis-lib
[submodule "source/Pictogram"]
	path = source/Pictogram
	url = http://cs-cust06-int.cs.aau.dk/git-ro/pictogram-lib
[submodule "report/tex/commonReport"]
	path = report/tex/commonReport
	url = http://cs-cust06-int.cs.aau.dk/git-ro/common-report-f13.git
