<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.cs.giraf.train"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <!-- For tablet use only -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_train_icon"
        android:label="@string/app_name"
        android:theme="@style/theme" >
        <activity
            android:name="dk.aau.cs.giraf.train.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.aau.cs.giraf.train.opengl.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="dk.aau.cs.giraf.train.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dk.aau.cs.giraf.train.MainActivity" />
        </activity>
        <activity
            android:name="dk.aau.cs.giraf.train.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="dk.aau.cs.giraf.train.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dk.aau.cs.giraf.train.MainActivity" />
        </activity>
        <activity
            android:name="dk.aau.cs.giraf.train.profile.SaveDialogActivity"
            android:label="@string/title_activity_save_dialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>